.section {
    background: black;
    color: white;
    padding: 3rem 0;

    h2 {
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 3px;
    }
}

.container {
    width: 90%;
    margin: 2rem auto 0 auto;

    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    h3 {
        margin-top: 1rem;
        letter-spacing: 3px;
        text-transform: uppercase;
        text-align: center;
    }
}

.item {
    border-bottom: 2px solid rgb(50, 46, 50);
    padding-bottom: 2rem;
}

.video {
    width: 100%;
    height: 315px;
}

// Tablets
@media screen and (min-width:768px){
    .item {
        h3 {
            margin-top: 1.5rem;
        }
    }

    .video {
        height: 400px;
    }
}

// Laptops
@media screen and (min-width:1024px){

    .section {
        padding: 2rem 0;
    }

.container {
    grid-template-columns: repeat(3, 1fr);
}

.item {
    border-bottom: 0;
    padding-bottom: 0;
    border: 1px solid rgb(50, 46, 50);
    padding: 1rem;
    border-radius: 8px;
}

.video {
    height: 315px;
}

}

// Monitores
@media screen and (min-width: 1680px) {

    .section {
        padding: 6rem 0;
    }

    .video {
        height: 350px;
    }
}