$primary: #fc40ba;
$transition: all 400ms ease;

@mixin btn(){
  font-size: 1em;
  display: inline-block;
  width: max-content;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: $primary;
  border: 2px solid $primary;
  margin: 2rem auto 0 auto;
  padding: 1em 3em;
  border-radius: 8px;
  transition: $transition;
  &:hover {
    background: $primary;
    color: white;
  }
}

.nav {
  display: none;
}

.section {
  padding-top: 5rem;
  color: white;
  background: black;
}

.container {
  width: 90%;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr;
}

.content {
  text-align: center;

  h1 {
    font-size: 2.6em;
    text-transform: uppercase;
    letter-spacing: 5px;
  }

  h2 {
    font-weight: 400;
    font-size: 1.1em;
    span {
      color: $primary;
    }
  }

  a {
    @include btn;
  }

}

// Tablets
@media screen and (min-width:768px) {

  .content {
    font-size: 18px;
    margin: 2rem auto;
  }

  .foto {
    margin: 0 auto;
    width: 80%;
  }
}

// Laptops
@media screen and (min-width:1024px) {

  .container {
    width: 98%;
    grid-template-columns: auto 1fr 1fr;
    gap: 5rem;
    place-items: center;
  }

  .nav {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    a {
      letter-spacing: 5px;
      width: max-content;
      transition: $transition;
      font-size: 1.1em;
      text-transform: uppercase;
      &:hover {
        color: $primary;
        margin-left: 1rem;
      }
    }
  }

  .content {
    text-align: start;
  }

  .foto {
    width: 100%;
  }

}

// Monitores
@media screen and (min-width: 1680px) {

  .container {
    gap: 2.5rem;
  }

  .nav {
    font-size: 1.2rem;
  }

  .content {
    margin-left: 7rem;
    font-size: 30px;
  }

  .foto {
    width: 80%;
    margin: 0 auto;
  }

}