@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Outfit:wght@400;500;700&family=Viaoda+Libre&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Outfit", sans-serif;
}

#firma {
  font-family: 'Great Vibes', cursive;
  font-size: 2.2rem;
  font-weight: 400;
}

@media all and (min-width: 1280px) {
  #firma {
    font-size: 3rem;
  }
}
