$secon: #8A2145;
$primary: #fc40ba;
$transition: all 400ms ease;

.about_section {
    background: white;
    padding: 3em 0;
    width: 100%;
    color: black;
    position: relative;
}

.brillo1 {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
}

.brillo2 {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
}

.container {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;
}

.foto {
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 1em;

    img {
        border-radius: 1em;
    }
}

.content {
    display: flex;
    flex-direction: column;
    gap: .8rem;

    small {
        font-size: 1rem;
        font-weight: 700;
    }

    h2 {
        color: $secon;
        font-size: 2rem;
    }

    p {
        font-size: 1.1rem;
    }

    a {
        color: $secon;
    }

}

.socials {
    display: flex;
    align-items: center;
    gap: 1em;

    a {
        display: flex;
        color: $primary;
        background: black;
        font-size: 2rem;
        padding: .8rem;
        border-radius: 8px;
        transition: $transition;
        &:hover {
            background: $primary;
            color: black;
        }
    }
}

@media all and (min-width: 768px) {

    .container {
        grid-template-columns: 1fr 1fr;
    }

    .brillo1, .brillo2 {
        img {
            width: 7rem !important;
        }
    }

    .brillo1 {
        top: 1rem;
        left: 1rem;
    }

    .brillo2 {
        bottom: 1rem;
        right: 1rem;
    }
}

@media all and (min-width: 1280px) {

    .about_section {
        padding: 3rem 0;
    }

    .container {
        width: 75%;
        place-items: center;
    }

    .content {
        h2 {
            font-size: 2.5rem;
        }

        h4 {
            font-size:1.5rem;
        }
    }
}